* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeHeader{
    height: 20vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.homeHeader button {
    border-style: none;
    height: 5rem;
    width: 5rem;
    margin: 3rem;
    background-color: rgba(27, 255, 255, 0.5);
    box-shadow: 1px 1px 5px black;
}

.tableStyle, .formStyle {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 248, 250);
}

td, tr, td, th {
    border: 1px solid rgb(173, 173, 173);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 5px black;   
}
.formGruop{
    margin-top: 2rem;
    font-size: 2rem;
}
input{
    border-style: none;
    margin-left: 1rem;
    font-size: 2rem;
}
.buttonForm{
    border-style: none;
    font-size: 1rem;
    font-weight: 600;
    width: 5rem;
    color: white;
    background-color: rgb(68, 68, 68);
    margin-left: 40%;
    margin-top: 30px;
}